@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Lato:ital,wght@1,700&family=Mada:wght@300;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,700&family=Open+Sans:wght@800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.app-overall {
  background-color: #202525;
  min-height: 100vh;
  position: relative;
}

/* NAVBAR */
.navbar-container {
  position: fixed;
  border-right: solid 1px #575656;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  padding-top: 40px;
  padding-left: 40px;
}

.navbar-container .navbar-wrapper {
  width: 100%;
  color: #b9b5b5;
}

.navbar-container .navbar-wrapper .header-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-container .navbar-wrapper .header-name span {
  color: #db222a;
}

.navbar-container .navbar-wrapper .header-name h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.navbar-container .navbar-wrapper .menu-wrapper {
  width: 100%;
  margin-top: 40px;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list_wrapper h3 {
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.navbar-container
  .navbar-wrapper
  .menu-wrapper
  .menu-list_wrapper
  h3:nth-of-type(2) {
  margin-top: 30px;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list:nth-of-type(1) {
  margin-top: 30px;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list ul {
  padding: 0;
  border: solid 1px transparent;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list li {
  list-style: none;
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list li:hover,
.navbar-container .navbar-wrapper .menu-wrapper .menu-list li.navbar-active {
  border-right: solid 3px #db222a;
  color: #ffffff;
}

.navbar-container .navbar-wrapper .menu-wrapper .menu-list li:hover span,
.navbar-container
  .navbar-wrapper
  .menu-wrapper
  .menu-list
  li.navbar-active
  span {
  color: #db222a;
}

/* MOVIE EXTRA SECTION and subcards */
.movieExtras-overall {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  border: solid 1px #575656;
  width: 20%;
  padding: 20px 40px;
  padding-top: 35px;
  overflow-y: auto;
}

/* SCROLLBAR  */
/* width */
.movieExtras-overall::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.movieExtras-overall::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.movieExtras-overall::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.movieExtras-overall::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* SCROLLBAR----- */

.searchbox {
  display: flex;
  border: solid 1px #8f8e8e;
  width: 100%;
  border-radius: 25px;
  padding: 10px 20px;
  color: #8f8e8e;
  align-items: center;
  gap: 5px;
}

.searchbox input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  width: 80%;
}

.searchbox input::placeholder {
  color: #8f8e8e;
  font-size: 15px;
  font-weight: 600;
}

.moviesExtras-subcontainer {
  margin-top: 15px;
}

.moviesExtras-subcontainer .movieExtras-inner {
  height: 370px;
  margin-bottom: 10px;
  overflow-y: auto  ;
}

.moviesExtras-subcontainer .movieExtras-inner::-webkit-scrollbar {
  width: .4em;
}

.moviesExtras-subcontainer .movieExtras-inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.moviesExtras-subcontainer .movieExtras-inner::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.movieExtras-overall h3.header-name {
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.info-card .info-container {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.info-card .info-container .movie-pic {
  height: 80px;
  width: 100%;
  overflow: hidden;
  flex: 0.5;
  border-radius: 8px;
}

.info-card .info-container .movie-pic img {
  height: 100%;
  max-width: 100%;
  /* display: block; */
  /* border-radius: 8px; */
  object-fit: cover;
  object-position: center;
}

.info-card .info-container .movie-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-card .info-container .movie-desc .top-info h4 {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 6px;
}

.info-card .info-container .movie-desc .top-info h5 {
  margin: 0;
  color: #8f8e8e;
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-card .info-container .movie-desc .bottom-info {
  display: flex;
  align-items: center;
  gap: 13px;
}

.info-card .info-container .movie-desc .bottom-info .imdb-pic {
  overflow: hidden;
  width: 100%;
  flex: 0.4;
}

.info-card .info-container .movie-desc .bottom-info .imdb-pic img {
  height: auto;
  max-width: 100%;
  display: block;
}

.info-card .info-container .movie-desc .bottom-info h4 {
  margin: 0;
  color: #ffffff;
}

.movieExtras-overall button {
  width: 100%;
  padding: 12px 0px;
  background-color: #db222a;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

/* MAIN PAGE CONTENT */
.main-container {
  width: calc(100% - 38%);
  margin-left: 18%;
  min-height: 100vh;
  padding: 40px;
}

.best-artists .header-text {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
}

.best-artists_collection {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  overflow-x: auto;
}

/* SCROLLBAR  */
/* width */
.best-artists_collection::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.best-artists_collection::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.best-artists_collection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.best-artists_collection::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* --------------SCROLLBAR----- */

.view-movie {
  max-width: 1200px;
  margin-top: 40px;
}

.view-movie .header-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.view-movie .view-movie_collection {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  overflow-x: auto;
}

/* SCROLLBAR  */
/* width */
.view-movie_collection::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.view-movie_collection::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.view-movie_collection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.view-movie_collections::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* --------------SCROLLBAR----- */

/*==================================== 
Caraousel-Tabs COMPONENT
======================================*/
/* .carousel-tabs_container .tab-header {
  border: solid 1px white;
} */

.carousel-tabs_container .tab-header ul {
  display: flex;
  padding: 0;
  gap: 30px;
  font-size: 15px;
}

.carousel-tabs_container .tab-header ul li {
  list-style: none;
  color: #b9b5b5;
  font-weight: 600;
  cursor: pointer;
}

.carousel-tabs_container .tab-header ul li:hover,
.carousel-tabs_container .tab-header ul li.tab-active {
  color: #ffffff;
}

.carousel-tabs_container .carousel-container {
  height: 300px;
}

.carousel-subcontainer {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.carousel-img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  padding: 30px;
}

.carousel-content {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.movie-title-text {
  margin: 0;
  text-transform: uppercase;
  font-size: 44px;
  color: #ffffff;
}

.movie-genre-carousel {
  margin: 0;
  text-transform: uppercase;
  color: #b9b5b5;
  font-size: 12px;
  margin-top: 2px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 18px;
}

.button-container button {
  padding: 12px 0px;
  background-color: #db222a;
  width: 120px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.carousel_add_btn {
  height: 40px !important;
  width: 40px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  border: solid 1px transparent;
  background-color: rgba(68, 67, 67, 0.5);
  padding: 20px !important;
  border-radius: 100%;
  top: 35% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: 600;
}

/* Best Artist Card - COMPONENT*/
.artist-card {
  height: 200px;
  border-radius: 18px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addBtn__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.addBtn__styled {
  margin: 0;
  border: solid 1px #8f8e8e;
  background-color: #8f8e8e;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.cardDetails__styled {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artistName__styled {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.movieCount__styled {
  color: #b9b5b5;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2px;
  text-transform: capitalize;
}

.cardRate__styled {
  text-align: center;
  color: gold;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

/* View Movie Card COMPONENT */
.viewMovie-card {
  height: 170px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: flex-end;
}

.movieDetails__style {
  width: 100%;
  padding: 13px 10px;
  background-color: #444343;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieCount__style {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

/* star rating */
.starRating__styled {
  width: 15px;
}
